* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;

}

.box-one {
    padding: 10px;
    border: 20px solid gray;
    background-color: rgb(100, 177, 160);
    margin: 100px;
    height: 100px;
    width: 100px;

}
.box-two {
    background-color: firebrick ;
    padding: 10px;
    border: 30px solid rgb(230, 37, 188);
    margin: 70px;
    height: 155px;
    width: 125px;
}